[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "stb/stb"]
	path = stb/stb
	url = https://github.com/nothings/stb
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
